.box1 {
    width: 250px;
    height: 250px;
    border: 1px solid  #888888;
    margin-top: 77px;
    margin-left: 37px;
}
.box3 {
    color: #FF0000;
    text-align: center;
    padding-top: 397px;
}